--index-url=https://packages.idmod.org/api/pypi/pypi-production/simple{% if cookiecutter.linting.lower()[0] == "y" %}
flake8~=3.8.4
coverage~=5.3.1{% endif %}
coloredlogs
idm-buildtools~=1.0.3
twine
wheel